			*{
                margin: 0px;
                padding: 0px;
                font-family: "微軟正黑體","Arial";
                font-weight: 900;
				background-color: transparent;
            }
			::-webkit-scrollbar { 
    		display: none; 
			}
			.index-btn-toeggground{
				position: absolute;
				width: 20%;
				left: 80%;
				top:40%;
				text-align: center;
			}
			.index-btn-toeggground>img{
				width: 80%;
			}
			.index-btn-toeggground>span{
				width: 20%;
				color: white;
				font-size: 10pt;
				font-weight: 300;
			}
			
/*---------------------------------------------------------------------------------------------------
//---------------bar--------------/
---------------------------------------------------------------------------------------------------	*/
            .bar-div-header{
                position: relative;
                background-image: url("images/bar_icon/up02.png");
                background-size: 100% 90%;
                background-repeat: no-repeat;
                height: 100%;
            }
            .bar-div-footer{
                position: relative;
                background-image: url("images/bar_icon/foot.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 100%;
                text-align: center;
                
            }
            .bar-div-left{
                float: left;
                position: relative;
                background-image: url("images/bar_icon/up01.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 100%;
                width: 32%;
                left: -1%;
            }
            .bar-div-right{
                float: right;
                position: relative;
                background-image: url("images/bar_icon/up03.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 100%;
                width: 32%;
                left: 1%;
            }
            .bar-div-name{
                float: left;
                position: relative;
                background-image: url("images/bar_icon/heart02.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                
                padding: 0% 1% 0% 1%;
                
                width: 30%;
				height: 40%;
                top:25%;
                left: 2%;
                
                text-align: center;
            }
            .bar-div-name>span{
               position: relative;
                top: 22%;
                font-size: 11pt;
				
                
            }
            .bar-img-heart{
                position: relative;
                z-index: 2;
                top:25%;
                left: 10%;
				height: 40%;
            }
            .bar-img-heart_number{
                float: right;
                position: relative;
                background-image: url("images/bar_icon/mochi-25.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 30%;
                top:33%;
                width: 60%;
                left: -18%;
                z-index: 1;
                text-align: right;
                
            }
            .bar-img-heart_number>span{
                position: relative;
                top:5%;
                left:-10%;
                font-size: 11pt;
            }
            .bar-img-email{
                float: left;
                position: relative;
                top:20%;
                left:20%;
				height: 55%
            }
            .bar-img-setting{
                float: left;
                position: relative;
                top:20%;
                left:22%;
				height: 55%
            }
            .bar-div-bar_item{
                display: inline-block;
                margin-left: 0.5%;
                margin-right: 0.5%;
                vertical-align: middle;
				cursor: pointer;
				width: 15%; 
            }
            .bar-div-bar_home{
                display: inline-block;
                vertical-align: middle;
				cursor: pointer;
				width: 22%;
            }
            .bar-div-bar_item>p{
                font-size: 8pt;
            }
            .bar-img-bar_home{
                padding-top: 10px;
				height:80%;
            }
			.bar-img-bar_item{
                padding-top:10px;
				height:60%;
				
            }
			.bar-div-second_bar{
                
                position: relative;
                background-image: url("images/bar_icon/whitebar.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height:16%;
                text-align: center;
				
                width: 100%;
                /*動畫屬性，應要為85%*/
                top:100%;
                
            }
            .second_bar_item_mission{
                display: none;
                margin-left: 10%;
                margin-right: 10%;
				width:20%;
            }
            .second_bar_item_other{
                display: none;
                margin-left: 2.5%;
                margin-right: 2.5%;
				 width:15%;
            }
            .bar-div-second_bar_item{ 
                margin-top: 6pt;
            }
			.bar-img-second_bar_item{
				height:60%;
			}
            .bar-div-second_bar_item>p{
                font-size: 7pt;
            }
/*---------------------------------------------------------------------------------------------------
//---------------Loading--------------/
---------------------------------------------------------------------------------------------------	*/
			.loading_content {
				position: relative;
				height: 100%;
			}


			#loading-page-loading{
				background-image: url(images/loading/log_in-08-11.png);
				position: relative;
			}
		
			#loading-img-icon{
				width: 70%;
				margin-top: 30%;
				
			}
			.loading-div-content{
				
				position: relative;
				height: 100%;
				text-align: center;
				
			}
			#loading-p-txt{
				
				
				
				font-size: 30pt;
				color: white;
				font-weight: 900;
				
			}
			#loading-a-start{
				
				
				font-size: 30pt;
				
				color: white;
				font-weight: 900;
				display: none;
			}
			#loading-span-dash{
				animation-name: light;
				animation-duration: 0.4s;
				animation-iteration-count:infinite;
				animation-direction:alternate;
			}
			@keyframes light{
				from{
					opacity: 0;
				}
				to{
					opacity: 1;
				}
			}
			@keyframes shake{
				0%{
					margin-left: 2%;
				}
				25%{
					margin-left:  0%;
				}
				75%{
					margin-right: 2%;
				}
				100%{
					margin-right: 0%;
				}
			}
/*---------------------------------------------------------------------------------------------------
//---------------Login&Register--------------/
---------------------------------------------------------------------------------------------------	*/
			#login-page-login{
				position: relative;
			}
			#login-page-registered{
				position: relative;
			}
			.login_content{
				position: relative;
				height:100%;
				padding: 0px;
				background-image: url(images/loading/log_in-08-11.png);
			}
			.login-div-window{
				
				background-color:#EA5514;
				position: relative;
				width: 90%;
				border-radius: 10px;
				left:5%;
				top:25%;
			}
			#login_window{
				
				height: 40%;
			}
			#registered_window{
				height: 50%;
			}
			.login-div-content{
				background-color:#FCEBA2;
				position: relative;
				width: 95%;
				height: 80%;
				
				left:2.5%;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			.login-div-title{
				position: relative;
				height: 16%;
				text-align: center;
				color: white;
				font-size: 15pt;
				top: 3%;
			}
			.login-span-txt{
				color:#EA5514;
				display: inline-block;
				vertical-align: middle;
				margin-left: 6%;
				margin-right: 6%;
				font-size: 15pt;
				margin-top: 3%;
			}
			.login-form-login{
				position: relative;
				top: 5%;
			}
			.login-txt-field{
				vertical-align: middle;
				width: 70%;
				margin-top: 3%;
				display: inline-block;
				border: solid #EA5514 1px;
				background-color: white;
				border-radius: 10px;
			}
			.rgt_field{
				height: 13%;
				padding: 3px;
			}
			.login_field{
				height: 18%;
				padding: 3px;
			}
			.login-btn-login{
				display: inline-block;
				width: 25%;
				
				position: relative;
				margin-left:1%; 
				margin-right:1%;
				
				color: white;
				
				border-radius: 10px;
				text-decoration: none;
			}
			.login-btn-login>img{
				width: 100%;
			}
			.login-btn-bar{
				position: relative;
				text-align: center;
				top: 10%;
				
			}
			.result{
				text-align: center;
				position: relative;
				top:7%;
				font-size:10pt;
				color: red;
			}
/*---------------------------------------------------------------------------------------------------
//---------------instruction--------------/
---------------------------------------------------------------------------------------------------	*/			
		#instruction-page-instruction{
				position: relative;
			}
			.instruction_content{
				position: relative;
				padding: 0px;
				height:100%;
				
				
			}
			.instruction-div-img_content{
				position: relative;
				padding: 0px;
				height:100%;
			}
			.instruction-img-instruction{
				position: absolute;
				height:100%;
				width: 100%;
			}
			.instruction_footer{
				position: relative;
				top:-6%;
                border: 0px;
                height: 6%;
				text-align: center;	
            }
			.instruction-span-btn{
				color: white;
				display: inline-block;
			}
			@media only screen and (max-width:260px){
			.instruction-span-btn{
				
				display: none;
			}
			}
			
			.instruction-div-page{
				width: 60%;
				text-align: center;
				display: inline-block;
			}
			.instruction-div-page_dot>img{
				
				height: 30%;
			}
			.instruction-div-page_dot{
				margin-left: 2%;
				margin-right: 2%;
				display: inline-block;
			}
			#btn_back{
				visibility:hidden;
			}
/*---------------------------------------------------------------------------------------------------
//---------------setting--------------/
---------------------------------------------------------------------------------------------------	*/	
			.all-div-mask{
				position: fixed;
				top:-11%;
				
				height: 100%;
				width: 100%;
				background-color: lightgray;
				opacity: 0.5;
				display: none;
			}
			.setting-div-page{
				height: 100%;
				display:none;
			}
			.setting-div-dialog{
				position:relative;
				left:15%;
				top:20%;
				width: 70vw;
				height:50%;
				z-index: 100;
				background-color: #FFCE00;
				text-align: center;				

			}
			.setting-div-title{
				position: relative;
				font-size: 20pt;
				color:white;
				height:15%;
				background-color: #EA5514;
			}
			.setting-div-title>img{
				position: absolute;
				
				left: 88%;
				
				height: 100%;
			}
			.setting-div-title>span{
				position: relative;
				vertical-align: top;
			}
			.setting-div-music{
				position: relative;
				top:10%;
				height: 20%;
				
			}
			.setting-div-music>img{
				position: relative;
				left: 5%;
				vertical-align: middle;
				height: 80%;
				width:50%;
			}
			.setting-div-music>span{
				position: relative;
				
				vertical-align: middle;
				font-size: 18pt;
				height: 100%;
			}
			.settiing-div-btn{
				
				position: relative;
				top:15%;
				height: 20%;
			}
			.settiing-div-btn>img{
				height: 100%;
			}
/*---------------------------------------------------------------------------------------------------
//---------------mission--------------/
---------------------------------------------------------------------------------------------------	*/
			#mission-page-mission{
				background-color: #3E3A39;
				position: relative;
			}
			.mission-div-page{
				height:100%;	
			}
			.mission-div-title{
				position: relative;
				text-align: center;
				height: 10%;
			}
			.mission-div-title>h3{
				position: relative;
				font-size:20pt;
				top:10%;
				color: white;
				display: inline-block;
			}
			.mission-div-menu>img{
				
				display: inline-block;
				margin-left: 5%;
				margin-right: 5%;
				height: 100%;
				
			}
			.mission-div-menu{
				position: relative;
				top:3%;
				height: 10%;
				text-align: center;
			}
			.mission-div-list{
				position: relative;
				overflow: scroll;
				height:70%;
				
				top:6%;
			}
			.mission-div-list_item{
				position: relative;
				background-color: white;
				background-size: 100% 90%;
				background-repeat: no-repeat;
				height:20%;
				width: 80%;
				left: 10%;
				border-radius: 10px;
				margin-top: 10px;
			}
			.mission-img-capsule_type{
				height: 100%;
				vertical-align: middle;
			}
			.mission-div-infro{
				
				height:50%;
				display: inline-block;
				font-size: 18pt;
				
				width: 42%;
				overflow: hidden;
				vertical-align: middle;
				margin-left: 2%;
				text-overflow:ellipsis;
				white-space:nowrap;
				
			}
			.mission-div-infro>p{
				
				height: 100%;
			}
			.mission-div-typeandpeople{
				position: absolute;
				top:10%;
				height:40%;
			}
			.mission-img-type{
				height: 100%;
				
			}
			.mission-span-from{
				
				background-image: url(images/mission/missionC-11.png);
				background-size: 100% 100%;
				padding-left: 5pt;
				font-size: 9pt;
			}
			.mission-img-state{
				position: absolute;
				width:15%;
				left:83%;
				top:5%;
			}
			.mission-p-time{
				position: relative;
				top:70%;
				float: right;
				
				width:25%;
				font-size: 8pt;
				
			}
			#mission-page-infro{
				position: relative;
				background-color:#FFE783; 
			}
			.mission-div-infro_page{
				position: relative;
				height: 100%;
				
			}
			.mission-img-logo{
				height: 35%;
				position: relative;
			}
			.mission-img-close{
				position: absolute;
				width: 8vw;
				
				left:88%;
			}
			.mission-div-detail{
				position: absolute;
				top:5%;
				left:45%;
				width:45%;
				
			}
			.mission-div-detail>div{
				margin-bottom: 10px;
				display: inline-block;
			}
			.mission-div-detail>div>img{
				margin-left: 5%;
				width: 40%;
				vertical-align:middle;
				
			}
			.mission-div-from{
				position: relative;
				
				left:10%;
			}
			.mission-div-from>p{
				display: inline-block;
				margin-left: 5%;
				width: 70%;
				line-height: 30px;
				padding-left: 2%;
				background-color: white;
				border-radius: 5px;
			}
			.mission-div-question{
				position: relative;
				top:2%;
				left:10%;
			}
			.mission-div-question>p{
				vertical-align: top;
				display: inline-block;
				margin-left: 5%;
				width: 70%;
				line-height: 20px;
				padding-left: 2%;
				background-color: white;
				border-radius: 5px;
			}
			
			.mission-div-no>span{
				margin-left: 5%;
				line-height: 80px;
				padding: 2%;
				background-color: #3E3A39;
				color: white;
				border-radius: 5px;
			}
			.mission-div-text_answer{		
				position: relative;
				top:4%;
				height: 12%;
			}
			.mission-div-text_answer>img{
				vertical-align: top;
				height: 80%;
				margin-left: 5%;
				
			}
			.mission-div-score{
				position: relative;
				top:8%;
				
				height: 8%;	
			}
			.mission-div-heart{
				vertical-align: top;
				width: 80%;
				
			}
			.mission-div-heart>img{
				
				width: 10%;
			}
			
			.mission-div-heart{
				display: inline-block;
				margin-left: 5%;
			}
			.mission-div-text{
				
				vertical-align: top;
				display: inline-block;
				margin-left: 5%;
				width: 70%;
				
			}
			.mission-div-text>textarea{
				resize: none;
				background-color: white;
				vertical-align: top;
				border-radius: 10px;
				border-style: none;
				padding: 2px;
				box-shadow:2px 2px 5px  #888888 inset;
				width: 100%;
			}
			.mission-div-text_answer>p{
				vertical-align: top;
				display: inline-block;
				margin-left: 5%;
				width: 70%;
				line-height: 20px;
				padding-left: 2%;
				background-color: white;
				border-radius: 5px;
			}
			.mission-img-btn_submit{
				position: absolute;
				height: 25%;
				top:100%;
				left: 40%;
				margin-top: 5px;
			}
			.mission-img-btn_submit>img{
				height:100%;
			}
			
			
			.mission-div-dialog_seeanswer{
				position:absolute;
				top:20%;
				left:10%;
				width: 80vw;
				height:60%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
						
			}
			
			.mission-dialog-title{
				position: fixed;
				font-size: 15pt;
				color:white;
				height: 6%;
				width: 80%;
				background-color: #EA5514;
				text-align: center;
			}
			.mission-dialog-title>span{
				position: relative;
				top:20%;
			}
			.mission-dialog-title>img{
				position: absolute;
				height: 100%;
				left: 85%;	
			}
			
			.mission-dialog-answer{
				position: absolute;
				top:12%;
			}
			.mission-dialog-answer>span{
				position: absolute;
				margin-right: 5%;
				left:5%;
			}
			.mission-dialog-content{
				padding: 2%;
				
				margin-left: 3.5%;
				width: 90%;
				background-color: white;
				border-radius:10px;
				text-align: left;
				
			}
			.mission-div-dialog_checkscore{
				position:absolute;
				top:35%;
				left:10%;
				width: 80vw;
				height:30%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			.mission-dialog-answer{
				position:relative;
				
				text-align: center;
				font-size:12pt;
			}
			.mission-dialog-btn_submit{
				position:relative;
				text-align: center;
				top:30%;
				height: 25%;
				
			}
			.mission-dialog-btn_submit>img{
				
				display: inline-block;
				height: 80%;
				margin-right: 2.5%;
				margin-left: 2.5%;
			}
			.mission-div{
				position: relative;
				left:10%;
				top:6%;
			}
			.mission-div-no{
				position: relative;
				left:0%;
				top:6%;
			}
			.mission-div-finish_btn{
				height: 6%;
				text-align: right;
				margin-right: 15%;
				margin-bottom: 2%;
			}
			.mission-div-finish_btn>img{
				height:100%;
			}
			.mission-div-score>p{
				display: inline-block;
			}
			.mission-div-heart>textarea{
				resize: none;
				background-color: white;
				vertical-align: top;
				border-radius: 10px;
				border-style: none;
				padding: 2px;
				box-shadow:2px 2px 5px  #888888 inset;
				width: 80%;
				height:50%;
			}
			#myscore,#getscore{
				height:20%;
			}
			.mission-div-dialog_ok{
				position:absolute;
				top:35%;
				left:10%;
				width: 80vw;
				height:30%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			.mission-div-dialog_getscore{
				position:absolute;
				top:35%;
				left:10%;
				width: 80vw;
				height:30%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			.mission-div-dialog_seepic{
				position:absolute;
				top:20%;
				left:10%;
				width: 80vw;
				height:60%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			#answer_pic{
				height:80%;
			}
			.mission-dialog-pic_content{
				text-align: center;
			}
			.mission-div-dialog_executorgetscore{
				position:absolute;
				top:35%;
				left:10%;
				width: 80vw;
				height:30%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			.mission-img-btn_eggground{
				margin-top: 20%;
				height:8%;
				text-align: right;
				width: 85%;
			}
			.mission-img-btn_eggground img{
				display: inline-block;
				height:100%;
			}
/*---------------------------------------------------------------------------------------------------
//---------------friend--------------/
---------------------------------------------------------------------------------------------------	*/
			#friend-page-friend{
				background-color: #232323;
				position: relative;
			}
			#friend-page-addfriend{
				background-color: #0A0F3F;
				position: relative;
			}
			.friend-div-content{
				position: relative;
				top:2%;
				height: 100%;
			}
			.friend-div-title{
				position: relative;
				height: 10%;
				text-align: center;
				
			}
			.friend-div-title>p{
				font-size: 18pt;
				color: white;
				padding-top: 5px;
			}
			.friend-div-title>img{
				position: absolute;
				top:0%;
				left: 88%;
				height: 80%;
			}
			.friend-img-invite{
				height:8%;
				margin-left: 10%;
			}
			.friend-div-list{
				position: relative;
				top:5%;
				overflow: scroll;
				height: 74%;
				
			}
			.friend-div-list_item{
				position: relative;
				margin-top:10px;
				margin-left: 10%;
				height: 20%;
				width: 80%;
				background-color: white;
				border-radius: 5px;
				
			}
			.friend-div-list_face{
				display: inline-block;
				background-color: #232323;
				height: 10vh;
				width: 10vh;
				position: relative;
				top:3%;
				left: 2%;	
				text-align: center;
			}
			.friend-div-list_face>img{
				height: 100%;
			}
			.friend-div-list_item>img{
				display: inline-block;
			}
			.friend-div-list_name{
				display: inline-block;
				background-image: url(images/friend/friend-10.png);
				background-size: 100% 100%;
				position: relative;
				top:5%;
				vertical-align: top;
				margin-left: 5%;
				height: 50%;
				width:45%;
				text-align: center;
				font-size: 12pt;
				line-height: 30px;
			}
			.friend-div-list_infor{
				position: relative;
				top:5%;
				vertical-align: top;
				height: 50%;
			}
			.friend-p-invite_title>span{
				font-size: 14pt;
				border: 2px solid white;
				border-radius: 5px;
				padding: 5px;
			}
			.friend-img-addall{
				height:100%;
				float: right;
				margin-right: 5%;
			}
			.friend-div-addall{
				position: relative;
				top:2%;
				height:8%;
			}
			.friend-div-list_btn{
				margin-right: 5%;
				height: 35%;
			}
			.friend-div-dialog_check{
				position: absolute;
				top:40%;
				left:15%;
				height: 18%;	
				width: 70%;
				background-color: rgba(35,35,35,0.9);
				text-align: center;
				padding: 3%;
				color: white;
				border-radius: 5px;
				display: none;
				z-index: 1000;
			}
			.friend-dialog-btn_submit>img{
				margin-top: 20px;
				height: 30%;
			}
			.friend-div-dialog_infor{
				position:absolute;
				top:30%;
				left:5%;
				width: 90vw;
				height:50%;
				z-index: 100;
				background-color:  #FFCE00;
				border-radius: 10px;
				display: none;
				z-index: 100;
			}
			.friend-div-dialog_blackinfor{
				position:absolute;
				top:30%;
				left:5%;
				width: 90vw;
				height:50%;
				z-index: 100;
				background-color:  rgba(35,35,35,0.9);
				border-radius: 10px;
				display: none;
				z-index: 100;
				color:white;
			}
			.friend-dialog-title{
				position: fixed;
				font-size: 15pt;
				color:white;
				height: 6%;
				width: 90%;
				background-color: #EA5514;
				text-align: center;
			}
			.friend-dialog-title>span{
				position: relative;
				top:20%;
			}
			.friend-dialog-title img{
				position: absolute;
				height: 100%;
				left: 85%;	
			}
			.friend-dialog-face{
				display: inline-block;
				width: 50%;
			}
			.friend-dialog-detail{
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 45%;
				height: 65%;
			}
			.friend-dialog-detail>p{
				margin-top: 20px;
				font-size: 15pt;
				
			}
			.friend-dialog-face>img{
				width: 100%;
				margin-top: 5%;
			}
			.friend-dialog-content{
				position: relative;
				top:12%;
			}
			.friend-div-dialog_select{
				position:absolute;
				top:35%;
				left:5%;
				width: 90vw;
				height:30%;
				background-color: #FFCE00;
				border-radius: 10px;
				z-index: 1;
				display: none;
			}
			.friend-dialog-add_content{
				position: relative;
				top:10%;
				text-align: center;
				line-height: 80px;
				font-size: 15pt;
			}
			.friend-dialog-select_bar{
				height: 20%;
				text-align: center;
			}
			.friend-dialog-select_bar>input{
				width: 70vw;
				background-color: white;
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				border-radius: 5px;
			}
			.friend-dialog-select_bar>img{
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
			.friend-dialog-selectcontent{
				position: relative;
				top:15%;
				
			}
			.friend-dialog-blacktitle{
				position: fixed;
				font-size: 15pt;
				color:white;
				height: 6%;
				width: 90%;
				background-color: rgba(35,35,35,0.9);
				text-align: center;	
			}
			.friend-dialog-blacktitle img{
				position: absolute;
				height: 100%;
				left: 85%;	
			}
			.friend-dialog-blacktitle>span{
				position: relative;
				top:20%;
			}
			#select_to_add{
				float: right;
				height: 10%;
			}
/*---------------------------------------------------------------------------------------------------
//---------------collection--------------/
---------------------------------------------------------------------------------------------------	*/
			#collection-page-collection{
				position: relative;
				background-color:#232323;
			}
			.collection-div-cabinet{
				position: relative;
				
				height: 80%;
				background-image: url(images/collection/collect-01.png);
				background-size: 100% 100%;
			}
			.collection-div-antenna{
				position: relative;
				height: 15%;	
				text-align: center;
			}
			.collection-div-antenna>img{
				position: relative;
				top:10%;
				height: 100%;
			}
			.collection-div-title{
				height: 5%;
				text-align: center;
				color: white;
			}
			.collection-div-position{
				left:18%;
				top:6%;
				width:64.5%;
				height: 75%;
				position: absolute;
				
				
			}
			.collection-div-item:nth-child(-n+3){
				position: relative;
				display: inline-block;

				width:32%;
				height:29%;
			}
			.collection-div-item:nth-child(n+4):nth-child(-n+6){
				position: relative;
				top:4%;
				display: inline-block;

				width:32%;
				height:29%;
			}
			.collection-div-item:nth-child(n+6){
				position: relative;
				top:9%;
				display: inline-block;
				
				width:32%;
				height:29%;
			}
			.collection-div-item img{
				position: absolute;
				top:5%;
				left: 10%;
				height: 80%;
				width: 80%;
				z-index: 1;
			}
			.collection-div-item>p{
				position: absolute;
				background-image: url(images/collection/collect-12.png);
				background-size: 100% 100%;
				top:80%;
				font-size: 12px;
				color: white;
				font-weight: 100;
				width: 100%;
				z-index: 10;
				text-align: center;
				overflow: hidden;
				white-space: nowrap;
  				text-overflow: ellipsis;
				height: 21%;
			}
			
			.collection-div-back{
				position: relative;
				top:30%;
				width: 12%;
			}
			.collection-div-next{
				position: relative;
				top:30%;
				width: 12%;
				float: right;
			}
/*---------------------------------------------------------------------------------------------------
//---------------扭蛋廣場--------------/
---------------------------------------------------------------------------------------------------	*/
			#index-page-egg{
				position:relative;
				background-image:url(images/eggground/park-22.png);
				background-size: 100% 100%;
			}
			.bar-div-main{
                width:100%;
                height:100%;
            }
            .bar-div-back{
                position: relative;
                width:15%;
                height:12%;
                background-image: url(images/eggground/park-23.png);
                   background-size: 100% 100%;
                background-repeat: no-repeat;
                left:2%;
                top:2%;
                float:left;
            }
            .bar-div-egg{
                float:left;
                position: relative;
                background-image: url(images/eggground/park-01.png);
                 background-size: 100% 100%;
                background-repeat: no-repeat;
                width:55%;
                height:75%;
                left:7%;
                top:10%;
            }
            .bar-div-start{
                float:right;
                position: relative;
                background-image: url(images/eggground/park-02.png);
                 background-size: 100% 100%;
                background-repeat: no-repeat;
                width:22%;
                height:8%;
                top:90%;
                right:38%;
            }
			.egg-div-dialog_checkscore{
				position:absolute;
				top:35%;
				left:10%;
				width: 80vw;
				height:20%;
				z-index: 100;
				background-color: #FFCE00;
				border-radius: 10px;
				display: none;
			}
			.egg-dialog-answer{
				position:relative;
				top:10%;
				text-align: center;
				font-size:12pt;
			}
			.egg-dialog-btn_submit{
				position:relative;
				text-align: center;
				top:30%;
				height: 25%;
				
			}
			.egg-dialog-btn_submit img{
				
				display: inline-block;
				height: 100%;
				margin-right: 2.5%;
				margin-left: 2.5%;
			}

