  .home_top{
                height: 100px;
            }
            .top_img img{
         
                position: absolute;
               width: 401px;
	height: 100px;
z-index: 0;
            }
            .top_name {
              Position: absolute;
              z-index: 1;
              border:1px black solid;
                background-color: white;
                    margin-left: 185px;
                font-size: 14px;
    
    margin-top: 35px;
            }
            .top_heart img{
                Position: absolute;
               width: 80px;
	            height: 30px;
                z-index: 1;
                margin-left: 15px;
                margin-top: 30px;
            }
            .top_mail img{
                 Position: absolute;
                 width: 42px;
	            height: 42px;
                 z-index: 1;
                  margin-left: 305px;
                margin-top: 30px;
            }
               .top_gear img{
                    Position: absolute;
                 width: 42px;
	            height: 42px;
                 z-index: 1;
                    margin-left: 350px;
                      margin-top: 30px;
            }
            .home_but {
             background-image: url(but.png);
               text-align: center;
                 height: 100px;
            }
            .home_but1{
                 display: inline-block;
                width:62px;
                height:62px;
                   text-align: center;
               
                margin-top: 7px;
            }
              .home_but2{
                 display: inline-block;
                width:90px;
                height:90px;
                   text-align: center;
               
                margin-top: 7px;
            }
            
            .home_but1 img{   
                width:62px;
                height: 62px;
            }
            #but img{
                 width:90px;
                height: 90px;
            }
            .main{
                height:500px;
            }
            .home{
                max-width: 401px;
            }